@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  background: radial-gradient(#46236e, #080b49);
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  /* font-size */
  color: #eee;
}
.container {
  position: absolute;
  width: 100%;
  max-width: 70%;
}
.canvas {
  position: relative;
  padding-top: 62.5%;
}
.canvas .square-canvas {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 10%;
  left: 25%;
}
.top {
  position: absolute;
  width: 28%;
  height: 15.1%;
  top: 0%;
  left: 36%;
  background: #201230;
  clip-path: polygon(25% 0, 75% 0, 87% 100%, 12% 100%);
  z-index: 4;
}
.base {
  position: absolute;
  width: 40%;
  height: 25%;
  top: 75%;
  left: 30%;
  z-index: 3;
}
.base .trapezoid:nth-of-type(1) {
  position: absolute;
  background: #201230;
  width: 100%;
  height: 75%;
  top: 25%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}
.base .trapezoid:nth-of-type(2) {
  position: absolute;
  background: #201230;
  width: 70%;
  height: 30%;
  left: 15%;
  clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
}
.glass {
  position: absolute;
  width: 20%;
  height: 60%;
  left: 40%;
  top: 15%;
  background: linear-gradient(#201230, #3c1640);
  z-index: 2;
}
.glass::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  background: linear-gradient(#201230, #3c1640);
  left: -33%;
  transform: rotate(13deg);
  border-radius: 5% 5% 0% 30%;
}
.glass::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  background: linear-gradient(#201230, #3c1640);
  right: -33%;
  transform: rotate(-13.5deg);
  border-radius: 5% 5% 30% 0%;
}
.glass-round {
  position: absolute;
  width: 40%;
  height: 35%;
  left: 30%;
  top: 44%;
  background: #3c1640;
  border-radius: 45%;
  z-index: 1;
}
.lava {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  filter: url("#goo");
}
.lava .blob-top {
  position: absolute;
  width: 90%;
  height: 25%;
  top: -15%;
  left: 5%;
  background: #5f14a2;
  border-radius: 50%;
}
.lava .blob-drop:nth-of-type(1) {
  position: absolute;
  width: 70%;
  height: 25%;
  top: -15%;
  left: 1%;
  border-radius: 50%;
  border-radius: 43% 45% 43% 44%;
  animation: drop 10s ease-in-out infinite, colorDown 10s ease-in-out infinite;
}
.lava .blob-bounce {
  position: absolute;
  width: 32%;
  height: 11%;
  top: 90%;
  right: 10%;
  background: #cd5492;
  border-radius: 50%;
  animation: bounce 10s 6.25s ease-in-out infinite;
}
.lava .blob-rise {
  position: absolute;
  width: 65%;
  height: 22%;
  top: 90%;
  right: 2%;
  background: #cd5492;
  border-radius: 50%;
  animation: rise 10s 5s ease-in-out infinite, colorUp 10s 5s ease-in-out infinite;
}
.lava .blob-bottom {
  position: absolute;
  width: 120%;
  height: 30%;
  top: 85%;
  left: -10%;
  background: #cd5492;
  border-radius: 50%;
}
@keyframes rise {
  0% {
    top: 90%;
    height: 22%;
    width: 65%;
 }
  30% {
    height: 40%;
 }
  50% {
    height: 22%;
 }
  100% {
    top: -16%;
    height: 22%;
 }
}
@keyframes drop {
  0% {
    top: -15%;
 }
  30% {
    height: 25%;
 }
  50% {
    height: 30%;
 }
  70% {
    height: 25%;
 }
  100% {
    top: 90%;
 }
}
@keyframes bounce {
  0% {
    top: 90%;
    background: #cd5492;
 }
  50% {
    top: 60%;
    height: 13%;
 }
  60% {
    background: #ab4297;
 }
  70% {
    background: #cd5492;
    height: 11%;
 }
  100% {
    top: 90%;
 }
}
@keyframes colorDown {
  0%, 30% {
    background: #5f14a2;
 }
  70%, 100% {
    background: #cd5492;
 }
}
@keyframes colorUp {
  0%, 35% {
    background: #cd5492;
 }
  70%, 100% {
    background: #5f14a2;
 }
}


/* TEXT */
/* .container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* GREETING TEXT */
.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  100% {
    position: absolute;
    top: 30rem;
    opacity: 1;
  }

}

.greeting-text {
  font-size: 4.4rem;
  position: absolute;
  left: 30rem;
  top: 30rem;
  opacity: 1;
  animation-name: topFadeOut;
  animation-duration: 2s;
  color: white;
}

/* NAV BAR */
/* Variables */
:root {
  /* --font-family: "Roboto", sans-serf; */
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

/* SKILLS */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  /* background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow); */
  padding: 20px;
  margin: 10px;
}

/* ABOUT ME */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

/* SOCIALS */

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
