* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #201230;
  background: radial-gradient(#512e7a, #201230);
  background-repeat: no-repeat;
}
.container {
  position: absolute;
  width: 100%;
  max-width: 70%;
}
.canvas {
  position: relative;
  padding-top: 62.5%;
}
.canvas .square-canvas {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 10%;
  left: 25%;
}
.top {
  position: absolute;
  width: 28%;
  height: 15.1%;
  top: 0%;
  left: 36%;
  background: #201230;
  clip-path: polygon(25% 0, 75% 0, 87% 100%, 12% 100%);
  z-index: 4;
}
.base {
  position: absolute;
  width: 40%;
  height: 25%;
  top: 75%;
  left: 30%;
  z-index: 3;
}
.base .trapezoid:nth-of-type(1) {
  position: absolute;
  background: #201230;
  width: 100%;
  height: 75%;
  top: 25%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}
.base .trapezoid:nth-of-type(2) {
  position: absolute;
  background: #201230;
  width: 70%;
  height: 30%;
  left: 15%;
  clip-path: polygon(0 0, 100% 0, 86% 100%, 14% 100%);
}
.glass {
  position: absolute;
  width: 20%;
  height: 60%;
  left: 40%;
  top: 15%;
  background: linear-gradient(#201230, #3c1640);
  z-index: 2;
}
.glass::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  background: linear-gradient(#201230, #3c1640);
  left: -33%;
  transform: rotate(13deg);
  border-radius: 5% 5% 0% 30%;
}
.glass::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  background: linear-gradient(#201230, #3c1640);
  right: -33%;
  transform: rotate(-13.5deg);
  border-radius: 5% 5% 30% 0%;
}
.glass-round {
  position: absolute;
  width: 40%;
  height: 35%;
  left: 30%;
  top: 44%;
  background: #3c1640;
  border-radius: 45%;
  z-index: 1;
}
.lava {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  filter: url("#goo");
}
.lava .blob-top {
  position: absolute;
  width: 90%;
  height: 25%;
  top: -15%;
  left: 5%;
  background: #5f14a2;
  border-radius: 50%;
}
.lava .blob-drop:nth-of-type(1) {
  position: absolute;
  width: 70%;
  height: 25%;
  top: -15%;
  left: 1%;
  border-radius: 50%;
  border-radius: 43% 45% 43% 44%;
  animation: drop 10s ease-in-out infinite, colorDown 10s ease-in-out infinite;
}
.lava .blob-bounce {
  position: absolute;
  width: 32%;
  height: 11%;
  top: 90%;
  right: 10%;
  background: #cd5492;
  border-radius: 50%;
  animation: bounce 10s 6.25s ease-in-out infinite;
}
.lava .blob-rise {
  position: absolute;
  width: 65%;
  height: 22%;
  top: 90%;
  right: 2%;
  background: #cd5492;
  border-radius: 50%;
  animation: rise 10s 5s ease-in-out infinite, colorUp 10s 5s ease-in-out infinite;
}
.lava .blob-bottom {
  position: absolute;
  width: 120%;
  height: 30%;
  top: 85%;
  left: -10%;
  background: #cd5492;
  border-radius: 50%;
}
@keyframes rise {
  0% {
    top: 90%;
    height: 22%;
    width: 65%;
 }
  30% {
    height: 40%;
 }
  50% {
    height: 22%;
 }
  100% {
    top: -16%;
    height: 22%;
 }
}
@keyframes drop {
  0% {
    top: -15%;
 }
  30% {
    height: 25%;
 }
  50% {
    height: 30%;
 }
  70% {
    height: 25%;
 }
  100% {
    top: 90%;
 }
}
@keyframes bounce {
  0% {
    top: 90%;
    background: #cd5492;
 }
  50% {
    top: 60%;
    height: 13%;
 }
  60% {
    background: #ab4297;
 }
  70% {
    background: #cd5492;
    height: 11%;
 }
  100% {
    top: 90%;
 }
}
@keyframes colorDown {
  0%, 30% {
    background: #5f14a2;
 }
  70%, 100% {
    background: #cd5492;
 }
}
@keyframes colorUp {
  0%, 35% {
    background: #cd5492;
 }
  70%, 100% {
    background: #5f14a2;
 }
}


/* TEXT */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* GREETING TEXT */
body {
  font-size: 62.5%;
  font-style: Arial;
}

.animation-container {
  width: 1000rem;
  height: 30rem;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: -3rem;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.greeting-text {
  font-size: 4.4rem;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 2s;
  color: white;
}

/* CUSTOM CURSOR */
body {
  background: #17181a;
/*   cursor: none; */
  overflow-x: hidden;
}

#cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: transform .15s ease-in-out;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rettangolo {
  width: 300px;
  height: 50px;
  background: white;
  border-radius: 2px;
}